@model ChangePasswordViewModel

<form asp-action="ChangePassword" method="post" asp-controller="AdminFb">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Mật khẩu mới</label>
                <input type="password" asp-for="NewPass" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Xác nhận đổi</button>
        </div>
    </div>
   
</form>