@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="admin-container container">
    <h1>Đây là admin</h1>

    <div id="Admin_fb" class="mb-2">

        <div class="float-end me-2">
            <span id="btn-nap" class="active1 me-2">Nạp</span> |
            <span id="btn-rut" class="ms-2">Rút</span>
        </div>

        <div id="table-nap">
            <table class="table table-bordered text-center" id="hoSo_xuLy">
                <thead>
                    <tr>
                        <th>
                            Tên người dùng
                        </th>
                        <th>
                            Mã giao dịch
                        </th>
                        <th>
                            Số Tiền cần nạp
                        </th>
                        <th>
                             Nội dung chuyển
                        </th>
                        <th>
                            Trạng thái giao dịch
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in userNap" :key="user.ID" class="text-center">
                        <td>
                            {{user.tenUserDisplay}}
                        </td>
                        <td>
                            {{user.id}}
                        </td>
                        <td>
                            {{ new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(user.soTienNap) }}

                        </td>
                        <td>
                            {{user.codeLenh}}

                        </td>
                        <td>
                            @*"*@
                            <div v-on:click="handleTransaction(user)" v-bind:class="{ 'btn btn-danger ': !user.trangThaiGiaoDich, 'btn btn-success': user.trangThaiGiaoDich}">
                                <span>
                                    {{ user.trangThaiGiaoDich ?   'Đã xử lý' : 'Đang chờ'  }}
                                </span>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="table-rut">
            <table class="table table-bordered text-center" id="hoSo_xuLyRut">
                <thead>
                    <tr>
                        <th>
                            Tên người dùng
                        </th>
                       
                        <th>
                            Tên ngân hàng
                        </th>
                        <th>
                            Số tài khoản
                        </th>
                        <th>
                            Tên người dùng ngân hàng
                        </th>
                        <th>
                            Số tiền rút
                        </th>
                        <th>
                            Thời gian rút
                        </th>
                        <th>
                            Trạng thái giao dịch
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in userRut" :key="user.id" class="text-center">
                        <td>
                            {{user.tenUser}}
                        </td>
                        <td>
                            {{user.tenBankUser}}
                        </td>
                        <td>
                            {{user.stkBankUser}}
                        </td>
                        <td>
                            {{user.tenChuTK}}
                        </td>
                        <td>
                            {{ new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(user.soTienRut) }}

                        </td>
                        <td>
                            {{ new Date(user.thoiGianRut).toLocaleDateString('en-GB') }}

                        </td>
                        <td>
                            <div v-on:click="handleRut(user)" v-bind:class="{ 'btn btn-danger ': !user.trangThaiGiaoDich, 'btn btn-success': user.trangThaiGiaoDich}">
                                <span>
                                    {{ user.trangThaiGiaoDich ?   'Đã xử lý' : 'Đang chờ'  }}
                                </span>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <input type="checkbox"
           id="check" />
    <label class="chat-btn"
           for="check">
        <i class="fa-regular fa-comment-dots comment"></i>
        <i class="fa-solid fa-xmark close"></i>
    </label>
    <form class="wrapper">
        <div class="header"><h6>Let's Chat - Online</h6></div>

        <div class="chat-form">
            <input type="text"
                   class="form-control"
                   placeholder="Tên" />
            <input type="text"
                   class="form-control"
                   placeholder="Email" />
            <textarea class="form-control"
                      placeholder="Tin nhắn"></textarea>
            <input type="submit" value="Gửi" class="btn btn-success float-end mb-2 mt-2">
        </div>
    </form>
</div>

<script src="~/js/adminfb_vuejs/adminfb_crud.js"></script>