@{
    ViewData["Title"] = "Hỗ trợ";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 order-md-1 order-2"><img class="img-fluid" src="~/upload/bank_qr.png" /></div>
        <div class="col-md-6 order-md-2 order-1 mt-3">
            <p class="text-danger">Lưu ý:</p>
            <p>
                Vui lòng nạp chính xác nội dung chuyển khoản để thực hiện nạp tiền tự động.
            </p>

            <p>
                Tiền sẽ vào số dư của quý khách thành công từ 1-10 phút kể từ khi giao dịch thành công. Nếu quý khách không thấy cập nhập số dư hay có bất kỳ thông tin thắc mắc nào xin vui lòng liên hệ bộ phận CSKH TẠI ĐÂY
            </p>
        </div>
    </div>
</div>


<script src="~/js/bangmain_vuejs/bangmain_crud.js"></script>